<%- include('head.partial.ejs') %>
<div class="container">
  <h1>O Stronie</h1>

  <div class="section">
    <p><strong>Moja playlista na Spotify:</strong> <a href="https://open.spotify.com/playlist/0yjanjwACLL0VKdBnv9Uya?si=3dbf32a866984f65" target="_blank" class="spotify-link">Otwórz playlistę</a></p>
  </div>

  <a href="/" class="back-link">Powrót do Poleceń</a>
</div>
<%- include('foot.partial.ejs') %>
 