<%- include('head.partial.ejs') %>
<div class="container">
  <h1>O Stronie</h1>

  <div class="section">
    <p>Ta strona zawiera polecenia albumów metalowych podzielone na dwie kategorie: "Dla Początkujących" oraz "Skomplikowane Ale Piękne". Możesz przeglądać szczegóły każdego albumu, w tym listę piosenek, datę wydania oraz całkowity czas trwania.</p>
    <p>Znajdziesz tutaj klasyki metalu, które wprowadzą Cię w ten gatunek muzyczny lub pokażą jego bardziej złożone oblicza.</p>
  </div>

  <a href="/" class="back-link">Powrót do Poleceń</a>
</div>
<%- include('foot.partial.ejs') %>
