<%- include('head.partial.ejs') %>
<div class="container">
  <h1>O Stronie</h1>

  <div class="section">
    <p>Ta strona zawiera polecenia albumów metalowych podzielone na dwie kategorie: "Dla Początkujących" oraz "Skomplikowane Ale Piękne". Możesz przeglądać szczegóły każdego albumu, w tym listę piosenek, datę wydania oraz całkowity czas trwania.</p>
    <p>Znajdziesz tutaj klasyki metalu, które wprowadzą Cię w ten gatunek muzyczny lub pokażą jego bardziej złożone oblicza.</p>
    <p>Strona została stworzona z powodu chęci podzielenia się moim odczuciami związanymi z muzyką metalową. Poniżej podaje załącznik do mojego "zbioru wiedzy".</p>
    <p>Strona będzie aktualizowana systematycznie, żeby uświadomić niektórym słuchaczom że to nie jest sam "krzyk" albo "biały szum".</p>
    <p><strong>Moja playlista na Spotify:</strong> <a href="https://open.spotify.com/playlist/0yjanjwACLL0VKdBnv9Uya?si=3dbf32a866984f65" target="_blank" class="spotify-link">Otwórz playlistę</a></p>
  </div>

  <a href="/" class="back-link">Powrót do Poleceń</a>
</div>
<%- include('foot.partial.ejs') %>
